.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: -1px; /* Optional: Adjust spacing */
    display: none; /* Initially hidden */
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block; /* Show on hover */
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-toggle, .dropdown-item {
    color:white !important;
}
.dropdown-toggle {
    font-size: 16px !important;
}
.dropdown-item {
    font-size: 14px !important;
}

.dropdown-menu:hover .dropdown-item:hover,
.dropdown-menu .dropdown-item.active {
    color:black !important;
}

.overflow-hidden {
    overflow: hidden;
}

.table-no-borders tbody tr,
.table-no-borders tbody th,
.table-no-borders tbody td {
    border-bottom: none; /* 밑줄 제거 */
}

.text-truncate {
    width: 100% !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    display: block;
}