.search-window {
    min-width: 800px;
}

@media (max-width: 1800px) {
    .search-window {
        min-width: 700px;
    }
}

@media (max-width: 1700px) {
    .search-window {
        min-width: 600px;
    }
}

@media (max-width: 1600px) {
    .search-window {
        min-width: 500px;
    }
}

@media (max-width: 1500px) {
    .search-window {
        min-width: 400px;
    }
}

@media (max-width: 1400px) {
    .search-window {
        min-width: 300px;
    }
}

@media (max-width: 1300px) {
    .search-window {
        min-width: auto;
    }
}

@media (max-width: 1200px) {
    .search-window {
        min-width: auto;
    }
}

@media (max-width: 1100px) {
    .search-window {
        min-width: auto;
    }
}